server:
  port: 8000
spring:
  application:
    name: seller-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2

product-service:
  ribbon:
    eureka:
      enabled: false
    listOfServers: localhost:8081
    ServerListRefreshInterval: 2000
